*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html ,body{
    width: 100%;
    height: 100%;
}
nav{
height: 10%;
width: 100%;
background-color: antiquewhite;
display: flex;
align-items: center;
justify-content: space-between;
}
.left{
    margin-left: 22px;
}
.right a{
    margin: 15px;
    text-decoration: none;
    color: black;
}
.sign{
    margin-right: 28px;
    padding: 6px 22px;
    text-transform: capitalize;
    border: none;
    background-color: blue;
    color: #fff;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.main{
    height: 90%;
    width: 100%;
    background-color: aqua;
    display: flex;
}
.main-left{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F7F3FF;
}
.text{
    height: 250px;
    width: 66%;
    background-color: #F7F3FF;
    padding: 22px;
}
.text p{
    margin-top: 12px;
}
.startbutton{
    margin-right: 28px;
    padding: 6px 22px;
    text-transform: capitalize;
    border: none;
    /* background-color: blue; */
    background: linear-gradient(to left,rgb(9, 169, 201),rgba(95, 226, 95, 0.667));
    color: #fff;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.demo{
    margin-right: 28px;
    padding: 3px 10px;
    text-transform: capitalize;
    border: 2px solid #1e7df9;
    outline: none;
    background-color: blue;
    color: #000000;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 19px;
  
  background: transparent;
}
.nopay{
    margin-right: 28px;
    padding: 6px 22px;
    text-transform: capitalize;
    border: none;
    outline: none;
    background-color: rgba(107, 0, 207, 0.516);
    color: #fff;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.main-right{
    position: relative;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F7F3FF;
}
.text-img{
    height: 290px;
    width: 50%;
    background-color: #fff;
    /* border-radius: 50%; */
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);

}
.main-right img{
    position: absolute;
    /* height: 100%; */
    width: 38.5%;    
}
.text-tag{
    position: absolute;
    display: flex;
    font-size: 13px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
    height: 50px;
    width: 20%;
    background-color: #F7F3FF;
    gap: 5px;
    border-radius: 10px;
    margin-left: 200px;
    margin-top: 70px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
/* .......... */
 
.heading{
    width: 100%;
    height: 20%;
    background-color: #FEFEFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.details{
    width: 100%;
    height: 80%;
    background-color: #FEFEFF;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.d-box{
    width: 25%;
    height: 55%;
    background-color: #FEFEFF;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 30px;
    color: #9773FE;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.d-box:hover{
    background-color: #A584FE;
    color:white;
}
/* .......... */
.last{
    height: 65%;
    width: 100%;
    display: flex;
}
.last-left{
height: 100%;
width: 50%;
background-color:#FEFEFF;
display: flex;
align-items: center;
justify-content: center;
}

.last-right{
    height: 100%;
    width: 50%;
    background-color: #FEFEFF;
    display: flex;
    align-items: center;

}
.last-image{
    height: 70%;
    width: 70%;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
   background-color: #F7F3FD;
}
.last-left img{
    height: 40%;
    width: 28%;
    /* border-radius: 20%; */
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    position: absolute;
}
.last-tag {
    position: absolute;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
    background-color: antiquewhite;
    font-size: 14px;
    display: flex;
    height: 11%;
    margin-left: -199px;
}
.text-cirl{
    height: 230px;
    width: 320px;
    background-color: #fff;
   
}
.cirl{
    height: 50px;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
}
.cirl-card{
    height: 40px;
    width: 40px;
    background-color: red;
    border-radius: 50%;

}
span{
    color: #9773FE;
}
.text-cirl h1{
    margin-top: 10px;
}
.text-cirl p{
    margin-top: 10px;
}
.text-cirl button{
    margin-top: 20px;
    padding: 7px 22px;
    border: none;
    background-color: #9773FE;
    color: #fff;
    font-weight: 700;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.hell{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 28px;
    height: 30px;
    width: 30px;
    background-color: #F7F3FF;
}
